@keyframes moveUpDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px); /* Adjust the distance to move up */
	}
	100% {
		transform: translateY(0);
	}
}

.pokemon-image {
	transition: transform 0.3s ease-in-out;
	animation: moveUpDown 2s infinite;
}

.pokemon-image:hover {
	animation-play-state: paused; /* Pause the animation on hover */
}
